@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    @apply max-2xl:max-w-[1140px];
    margin: 0 auto;
    padding: 0 15px;
}

html{
    scroll-behavior: smooth;
}

@layer components {

    p {
        @apply leading-loose;
    }
    .def-para{
        @apply font-16 text-gray-text;
    }

   .font-90 {
    font-size: clamp(2.5rem, 5vw + 1rem, 5.625rem); /* 40px to 90px */
    }

    .font-70 {
    font-size: clamp(2rem, 4vw + 1rem, 4.375rem); /* 32px to 70px */
    }

    .font-48 {
    font-size: clamp(1.75rem, 3vw + 1rem, 2.5rem); /* 28px to 48px */
    }

    
    .font-26 {
        font-size: clamp(1.125rem, 1.5vw + 0.5rem, 1.625rem); /* 18px to 26px */
    }

    .font-24 {
    font-size: clamp(1rem, 1.25vw + 0.5rem, 1.5rem); /* 16px to 24px */
    }

    .font-18 {
    font-size: clamp(0.875rem, 0.5vw + 0.75rem, 1.125rem); /* 14px to 18px */
    }

    .font-16 {
    font-size: clamp(0.75rem, 0.25vw + 0.7rem, 1rem); /* 12px to 16px */
    }

    .def-label{
        @apply capitalize block font-semibold mb-2 2xl:mb-2.5 font-16 text-primary-dark/80 font-16;
    }

    .menu{
        @apply py-1 z-[999] border whitespace-nowrap bg-white shadow rounded-md min-w-[140px] 2xl:min-w-[180px]
    }

    .no-list {
        @apply !bg-transparent !p-0 !cursor-default;
    }

    .list,.list-with-icon {
        @apply !leading-[100%] mb-1 2xl:mb-2 last:mb-0 last:2xl:mb-0 rounded-lg !block capitalize !cursor-pointer w-full text-left !text-[11px] lg:!text-xs 2xl:!text-[15px] !text-gray-700 hover:bg-gray-100 !px-2 !py-2 2xl:!px-2.5 2xl:!py-2.5;
    }
    
    .list-with-icon{
        @apply flex items-center gap-2;
    }
    .list.active,
    .list-with-icon.active {
        @apply bg-gray-100;
    }

    .dropdown-shadow {
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    }
    .header-height{
        @apply h-[64px]
    }

    .field-base{
        @apply placeholder:text-gray-300 placeholder:text-xs 2xl:placeholder:text-sm font-16 w-full px-3 bg-white py-2 2xl:py-2.5 rounded-lg focus:outline-none focus:ring-offset-2 focus:ring-2 focus:ring-gray-300
    }

    .field-base.danger{
        @apply border-red-500
    }
}

@layer utilities {
    .box-section{
        @apply bg-white rounded-xl p-4 2xl:p-6
    }
}

.react-datepicker-wrapper{
    @apply w-full
}

.react-select-container input,
.react-select-container input:focus,
.react-select-container input:focus-visible {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
}
.dropdown-icon-container{
    padding: 0!important;
    border-radius: none !important;
    transition: box-shadow 0.1s ease-in-out;
}
.react-select-container{
    min-height: 33px !important;
    box-shadow: none !important;
    transition: none !important; 
}

.react-select-container.open {
    outline: 2px solid #d1d5db !important;
    outline-offset: 2px !important;
}

.react-select-container > div{
    padding: 0 !important;
}

.react-select-container > div > div{
    margin-left: 0 !important;
}


.list {
    font-size: 11px !important;
}

.list.active,
.list:hover {
    @apply !bg-gray-200 !text-gray-800;
}

.triangle-up {
    @apply  top-full w-0 h-0 border-l-[6px] border-r-[6px] border-t-[6px] border-l-transparent border-r-transparent border-t-black;
}

.triangle-down {
    @apply  bottom-full w-0 h-0 border-l-[6px] border-r-[6px] border-b-[6px] border-l-transparent border-r-transparent border-t-black;
}

swiper-button-next,
.swiper-button-prev {
  color: #ffffff;
  background-color: #1f2937;
  width: 48px;
  height: 48px;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px;
  font-weight: bold;
}
.swiper-button-disabled{
    @apply opacity-50 pointer-events-none;
}

.swiper-container-equal-height .swiper-wrapper {
    display: flex;
    align-items: stretch;
}

.swiper-container-equal-height .swiper-slide {
    height: auto;
    display: flex;
}

.swiper-container-equal-height .swiper-slide > div {
    width: 100%;
}

.Toastify__toast-body {
  @apply font-16;
}
.Toastify__progress-bar--success {
  @apply !bg-green-400;
}

.Toastify__toast--success .Toastify__toast-icon svg {
  @apply !fill-green-400;
}